html
    head
        include meta.pug   
    body
        include header.pug
        main(role='main' class='container')
            div(class='row')
                div(class='col')
                    h1(class='media-heading') 404
                    p(class='caption') whoops! try another path
        
        include footer.pug