footer(class="footer")
    div(class='container')
        span(class='text-muted') notice: google analytics enabled by default. Use the following button to interact with a cookie controlling it.
        button(id='analyticsSwitch' 
               class='btn btn-secondary' 
               data-toggle='tooltip' 
               data-placement='left' 
               title='press this button to disable analytics from this browser on this machine for the next 7 days') set no track cookie

script(src='/scripts/connector.js')