main(role='main' class='container')
    div(class='row')
        div(class='col')
            a(href='/')
                img(class='rounded-circle' src='/content/prof.jpg' alt='profile of ryan mcandrew' style='height:240px')
        div(class='col')
    div(class='row')
        div(class='col center-text')
            h1(class='media-heading') Ryan McAndrew
            p(class='caption') #[a(href='https://www.scrumalliance.org/community/profile/rmcandrew') certified scrum master], qa test engineer, aspiring software engineer w/ desire to gain expertise while building helpful things